#graph-column, #statistics-column {
    display: inline-block;
}

#statistics-column {
  float: right;
}

h1, h2, h3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

@media (max-width: 250px) {
  #graph-column, #statistics-column {
    display: block;
  }
}
