#graph-column, #statistics-column {
  display: inline-block;
  float: left;
}

h1, h2, h3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

@media (max-width: 250px) {
  #graph-column, #statistics-column {
    display: block;
  }
}

.income-element {
  display: inline-block !important;
}
