svg {
  margin: 30px;
}

.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: #5fbeff;
  stroke-width: 2px;
}

circle:hover {
  transform: scale(2);
}
circle {
  transition: all 0.2s;
  transform-origin: 50% 50%;
}
